@model ShopProject.Data.Item

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagePath" class="control-label"></label>
                <input asp-for="ImagePath" class="form-control" />
                <span asp-validation-for="ImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" asp-action="Edit" asp-controller="Item" value="Save Changes" class="btn btn-primary" />
            </div>



                @foreach (KeyValuePair<Property, PropertyValue> property in @ViewBag.PropertiesWithValue)
                {
                    <div style="display: inline-list-item; margin: 20px 0">

                        <label>@property.Key.Name</label>
                        @switch (property.Key.PropertyType)
                        {
                            case EnumPropertyType.Int:
                            <input class="form-control m-2" name="propertyValues" type="number" placeholder="@property.Value" />
                                break;
                            case EnumPropertyType.Double:
                            <input class="form-control m-2" name="propertyValues" type="number" placeholder="@property.Value" />
                                break;
                            case EnumPropertyType.Date:
                            <input class="form-control m-2" name="propertyValues" type="date" value="@property.Value"/>
                                break;
                            case EnumPropertyType.Bool:
                            <input id="checkHidden" type="hidden" name="propertyValues" value="@Convert.ToBoolean(property.Value)" />
                            <input type="checkbox" class="form-check mx-2" id="checkInput" value="@Convert.ToBoolean(property.Value)" />
                                break;
                            case EnumPropertyType.String:
                            <input class="form-control m-2" name="propertyValues" type="text" placeholder="@property.Value" />
                                break;
                        }
                    </div>
                }
            
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
